<div style='float:right;'>
	<span><%= link_to 'Edit', edit_company_path(company) %> &nbsp;</span>
	<span><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>