// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.company-card {
	width: 220px;
	height: 160px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid transparent;
	background-color: #ddd;
	margin: 3px;
	padding: 5px; 
	border-radius: 6px;
	
	&:hover {
		border: 1px solid #aaa;
		color: black;
	}
	
	img {
		# margin-right: 0.5em;
	}
	
	.border {
		border: 1px solid red; 
	}
}